# Project exclude paths
/.gradle/
/build/
.idea/
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.collaborationTools-242.21829.142+305.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.21829.142+305.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.21829.142+305.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-241.18034.62.2412.12266719+691.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.21829.142+166.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-241.18034.62.2412.12266719+684.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-242.21829.142+877.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-2024.1.2.12+684.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-2024.2.1+877.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-241.18034.62.2412.12266719+344.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.21829.142+633.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.21829.142+55.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.kotlin-2024.1.2.12+179.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-org.jetbrains.kotlin-2024.2.1+258.xml
/.intellijPlatform/self-update.lock
/local.properties
